extends layout

block title
    title Sacca

block body
    body.overflow-auto
        .Sacche
            h1 Dettagli Sacca
            .container
                .col-md-12.order-md-1
                    .card
                        .card-header
                            h4.mb-3 Dati Generici
                        .card-body
                            form.needs-validation(novalidate='')
                                .row
                                    .col-md-4.mb-3
                                        label(for='uid') UID Sacca
                                        input#uid.form-control(type='text', placeholder='', value='', required='',readonly="readonly")
                                        .invalid-feedback
                                            | UID non valido.
                                    .col-md-4.mb-3
                                        label(for='uidPaziente') UID Paziente
                                        input#uidPaziente.form-control(type='text', placeholder='', value='', required='',readonly="readonly")
                                        .invalid-feedback
                                            | UID paziente non valido.
                                    .col-md-4.mb-3
                                        label(for='uidPersonale') UID Personale
                                        .input-group
                                            .input-group-prepend
                                                span.input-group-text @
                                            input#uidPersonale.form-control(type='text', placeholder='UID Personale', required='',readonly="readonly")
                                            .invalid-feedback(style='width: 100%;')
                                                | UID personale non valido.
                                .row
                                    .col-md-8.mb-3
                                        label(for='fase')
                                            | Fase
                                        input#fase.form-control(type='text', placeholder='Fase',readonly="readonly")
                                        .invalid-feedback
                                            | Fase di elaborazione non valida
                                    .col-md-4.mb-3
                                        br
                                        .custom-control.custom-checkbox
                                            input#trasfusa.custom-control-input(type='checkbox',style='text-align: center;',readonly="readonly")
                                            label.custom-control-label(for='trasfusa') Trasfusa
                    hr.md-12.mb-3
                    .card
                        .card-header
                            | FASE 1
                        .card-body
                            .md-12.mb-3
                                label(for='luogoRaccolta') Luogo Raccolta
                                input#luogoRaccolta.form-control(type='text', placeholder='Caserta Laboratorio di Analisi A', required='',readonly="readonly")
                                .invalid-feedback
                                    | Inserisci il luogo di raccolta
                            .md-12.mb-3
                                label(for='tipoDonazione')
                                    | Tipo di donazione e procedura adottata
                                input#tipoDonazione.form-control(type='text', placeholder='Sangue intero Aferesi...',readonly="readonly")
                                .invalid-feedback
                                    | Inserisci tipo Donazione
                            .row
                                .col-md-4.mb-3
                                    label(for='anticoagulante') Anticoagulante impiegato e volume
                                    input#anticoagulante.form-control(type='text', placeholder='Soluzione anticoagulante CPD 63 ml ± 5%...',readonly="readonly")
                                    .invalid-feedback
                                        | Inserisci i deti inerenti al Anticoagulante
                                .col-md-4.mb-3
                                    label(for='conservante') Conservante impiegato e volume
                                    input#conservante.form-control(type='text', placeholder='Soluzione conservante SAGM 100 ml ± 5%...',readonly="readonly")
                                    .invalid-feedback
                                        | Inserisci i dati relativi all'conservante
                                .col-md-4.mb-3
                                    label(for='volumeEmocomponenti') Volume degli emocomponenti raccolti
                                    input#volumeEmocomponenti.form-control(type='Number' Step="0.01", placeholder='5.20',readonly="readonly")
                                    .invalid-feedback
                                        | Inserisci Volume valido
                            .row
                                .col-md-8.mb-3
                                    label(for='dateStamp')
                                        | Data e ora della procedura di raccolta
                                    input#dateStamp.form-control.datetimepicker-input(type='text', data-toggle='datetimepicker', data-target='#dateStamp',readonly="readonly")
                                    .invalid-feedback
                                        | Inserisci data valida
                                .col-md-4.mb-3
                                    label(for='durata') Durata
                                    input#durata.form-control(type='text', placeholder='2 ore...',readonly="readonly")
                                    .invalid-feedback
                                        | Inserisci la durata

                            .md-12.mb-3
                                label(for='codiceFiscaleDonatore') CodiceFiscale Donatore
                                input#codiceFiscaleDonatore.form-control(type='text', placeholder='AAABBB00C00D000E',readonly="readonly")
                                .invalid-feedback
                                    | Inserisci CodiceFiscale Donatore
                            .row
                                .col-md-6.mb-3
                                    label(for='esitoDonazione') Esito Donazione
                                    input#esitoDonazione.form-control(type='text', placeholder='Idoneo...',readonly="readonly")
                                    .invalid-feedback
                                        | Inserisci Esito Donazione
                                .col-md-6.mb-3
                                    label(for='tipoEmocomponente') Tipo Emocomponente
                                    input#tipoEmocomponente.form-control(type='text', placeholder='Globuli rossi plasma...',readonly="readonly")
                                    .invalid-feedback
                                        | Inserisci Tipo Emocomponente
                    hr.md-12.mb-3
                    .card
                        .card-header
                            | FASE 2
                        .card-body
                            .row
                                .col-md-8.mb-3
                                    label(for='laboratorioProvenienza') Laboratorio di Provenienza
                                    input#laboratorioProvenienza.form-control(type='text', placeholder='Laboratorio di...',readonly="readonly")
                                    .invalid-feedback
                                        | Inserisci Laboratorio di Provenienza
                                .col-md-4.mb-3
                                    label(for='fenotipo') Fenotipo
                                    input#fenotipo.form-control(type='text', placeholder='Gruppo AB',readonly="readonly")
                                    .invalid-feedback
                                        | Inserisci Fenotipo
                            .md-12.mb-3
                                label(for='laboratorioAnalisi') Laboratorio Analisi
                                input#laboratorioAnalisi.form-control(type='text', placeholder='Laboratorio di...',readonly="readonly")
                                .invalid-feedback
                                    | Inserisci Laboratorio Analisi
                    hr.md-12.mb-3
                    .card
                        .card-header
                            | FASE 3
                        .card-body
                            .md-12.mb-3
                                label(for='tipoEmoderivato') Tipo Emoderivato
                                input#tipoEmoderivato.form-control(type='text', placeholder='Albumina, Gammaglobuline...',readonly="readonly")
                                .invalid-feedback
                                    | Inserisci Tipo Emoderivato
                            .md-12.mb-3
                                label(for='tipoLavorazione') Tipo Lavorazione
                                input#tipoLavorazione.form-control(type='text', placeholder='Centrifugazione...',readonly="readonly")
                                .invalid-feedback
                                    | Inserisci Tipo Lavorazione
                    hr.md-12.mb-3
                    .card
                        .card-header
                            | FASE 4
                        .card-body
                            .md-12.mb-3
                                label(for='dataScadenza')
                                    | Data di scadenza
                                input#dataScadenza.form-control.datetimepicker-input(readonly="readonly", type='text', data-toggle='datetimepicker', data-target='#dataScadenza')
                                .invalid-feedback
                                    | Inserisci data valida
                    hr.md-12.mb-3
                    .card
                        .card-header
                            | FASE 5
                        .card-body
                            .md-12.mb-3
                                label(for='dataSomministrazione')
                                    | Data di Somministrazione
                                input#dataSomministrazione.form-control.datetimepicker-input(readonly="readonly", type='text', data-toggle='datetimepicker', data-target='#dataSomministrazione')
                                .invalid-feedback
                                    | Inserisci data valida
                            .row
                                .col-md-6.mb-3
                                    label(for='medicoResponsabile') Medico Responabile
                                    input#medicoResponsabile.form-control(type='text', placeholder='Dott. Mario Rossi',readonly="readonly")
                                    .invalid-feedback
                                        | Inserisci Nome Medico responsabile
                                .col-md-6.mb-3
                                    label(for='infermiereResponsabile') Infermiere Responsabile
                                    input#infermiereResponsabile.form-control(type='text', placeholder='Inf. Mario Rossi',readonly="readonly")
                                    .invalid-feedback
                                        | Inserisci Nome Infermiere responsabile
                            .md-12.mb-3
                                label(for='nosograficoPaziente') Nosogragico Paziente
                                input#nosograficoPaziente.form-control(type='text', placeholder='',readonly="readonly")
                                .invalid-feedback
                                    | Inserisci Nosografico Paziente

                    hr.md-12.mb-3
                    hr.mb-4
                    button.btn.btn-primary.btn-lg.btn-block(type='submit') Continue to checkout



block append javascript
    script(type='text/javascript', src = '/javascript/dettagliSacca.js')
