extends layout

block title
    title Sacca
block style
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css')
block body
    body
        .Home
            h1 DettagliSacca
            .container#TabHome
                h1 Sacche di sangue
block append javascript
    script(type='text/javascript', src = '/javascript/dettagliSacca.js')
    script(type='text/javascript', src = 'https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js')
