doctype html
html
  head
    block title
      title= title

    block style
      link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css')
      link(rel='stylesheet', href= 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
      link(rel='stylesheet', href='/stylesheets/style.css')

  block body
    nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
      // Navbar content
      ul.navbar-nav
        a.navbar-brand(href='#') Navbar
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNavDropdown.collapse.navbar-collapse
            li#home.nav-item
              a#homeAncor.nav-link
                | Home
            li.nav-item
              a#NuovaSacca.nav-link
                | Nuova Sacca

  block content
  block footer
  block javascript
    script(type='text/javascript', src = '/javascript/jquery-3.4.1.min.js')
    script(type='text/javascript', src = 'https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js')
    script(type='text/javascript', src = 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.js')
    script(type='text/javascript', src = 'https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js')
    script(type='text/javascript', src = 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(type='text/javascript', src = 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    script(type='text/javascript', src = '/javascript/Menu.js')

