extends layout

block title
    title login
block body
    body
        .login
            h1 Login
            form
                input#idOperatore(type='text', placeholder='Id operatore', required='required')
                input#password(type='password', placeholder='Password', required='required')
            button#btnLogin.btn.btn-primary.btn-block.btn-large(type='submit') LOGIN.
block append javascript
    script(type='text/javascript', src = '/javascript/login.js')
