extends layout

block title
    title Sacca

block content
    body.overflow-auto
        .Sacche
            h1 Nuova Sacca
            .container
                .col-md-12.order-md-1
                    .card
                        .card-header
                            h4.mb-3 Dati Generici
                        .card-body
                            form.needs-validation(novalidate='')
                                .row
                                    .col-md-4.mb-3
                                        label(for='uid', style='font-weight:bold') UID Sacca
                                        input#uid.form-control(type='text', placeholder='', value='', required='')
                                        small#invalidUid.form-text.text-muted.font-italic L'username deve contenere 3-16 caratteri alfanumerici.
                                    .col-md-4.mb-3
                                        label(for='uidPaziente', style='font-weight:bold') UID Paziente
                                        input#uidPaziente.form-control(type='text', placeholder='', value='', required='')
                                        .invalid-feedback
                                            | UID paziente non valido.
                                    .col-md-4.mb-3
                                        label(for='uidPersonale', style='font-weight:bold') UID Personale
                                        .input-group
                                            .input-group-prepend
                                                span.input-group-text @
                                            input#uidPersonale.form-control(type='text', placeholder='UID Personale', required='')
                                            .invalid-feedback(style='width: 100%;')
                                                | UID personale non valido.
                    hr.md-12.mb-3
                    .card
                        .card-header
                            | FASE 1
                        .card-body
                            .md-12.mb-3
                                label(for='luogoRaccolta', style='font-weight:bold') Luogo Raccolta
                                input#luogoRaccolta.form-control(type='text', placeholder='Caserta Laboratorio di Analisi A', required='')
                                .invalid-feedback
                                    | Inserisci il luogo di raccolta
                            .md-12.mb-3
                                label(for='tipoDonazione', style='font-weight:bold')
                                    | Tipo di donazione e procedura adottata
                                input#tipoDonazione.form-control(type='text', placeholder='Sangue intero Aferesi...')
                                .invalid-feedback
                                    | Inserisci tipo Donazione
                            .row
                                .col-md-4.mb-3
                                    label(for='anticoagulante', style='font-weight:bold') Anticoagulante impiegato e volume
                                    input#anticoagulante.form-control(type='text', placeholder='Soluzione anticoagulante CPD 63 ml ± 5%...')
                                    .invalid-feedback
                                        | Inserisci i deti inerenti al Anticoagulante
                                .col-md-4.mb-3
                                    label(for='conservante', style='font-weight:bold') Conservante impiegato e volume
                                    input#conservante.form-control(type='text', placeholder='Soluzione conservante SAGM 100 ml ± 5%...')
                                    .invalid-feedback
                                        | Inserisci i dati relativi all'conservante
                                .col-md-4.mb-3
                                    label(for='volumeEmocomponenti', style='font-weight:bold') Volume degli emocomponenti raccolti
                                    input#volumeEmocomponenti.form-control(type='Number' Step="0.01", placeholder='5.20')
                                    .invalid-feedback
                                        | Inserisci Volume valido
                            .row
                                .col-md-8.mb-3
                                    label(for='dateStamp', style='font-weight:bold')
                                        | Data e ora della procedura di raccolta
                                    input#dateStamp.form-control.datetimepicker-input(type='text', data-toggle='datetimepicker', data-target='#dateStamp')
                                    .invalid-feedback
                                        | Inserisci data valida
                                .col-md-4.mb-3
                                    label(for='durata', style='font-weight:bold') Durata
                                    input#durata.form-control(type='text', placeholder='2 ore...')
                                    .invalid-feedback
                                        | Inserisci la durata

                            .md-12.mb-3
                                label(for='codiceFiscaleDonatore', style='font-weight:bold') CodiceFiscale Donatore
                                input#codiceFiscaleDonatore.form-control(type='text', placeholder='AAABBB00C00D000E', required='')
                                .invalid-feedback
                                    | Inserisci CodiceFiscale Donatore
                            .row
                                .col-md-6.mb-3
                                    label(for='esitoDonazione', style='font-weight:bold') Esito Donazione
                                    input#esitoDonazione.form-control(type='text', placeholder='Idoneo...')
                                    .invalid-feedback
                                        | Inserisci Esito Donazione
                                .col-md-6.mb-3
                                    label(for='tipoEmocomponente', style='font-weight:bold') Tipo Emocomponente
                                    input#tipoEmocomponente.form-control(type='text', placeholder='Globuli rossi plasma...')
                                    .invalid-feedback
                                        | Inserisci Tipo Emocomponente
                    br
                    br
                    .row
                        .col-md-5
                        .col-md-2.mb-3
                            button#btnInvioDati.btn.btn-primary.btn-lg.btn-block(type='submit') INSERISCI
                    br
                    br

                    #modalErrore.modal.fade.bd-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
                        .modal-dialog.modal-lg
                            .modal-content
                                #idModal.p #{messaggio}
block append javascript
    script(type='text/javascript', src = '/javascript/nuovaSacca.js')
